.accounts-summary-page {
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;

    .filters-section__filters-title {
        padding: 0 20px;
        margin-top: 10px;
        font-weight: bold;
    }

    .accounts-list-header {
        display: flex;
        flex-direction: row;
        flex-flow: nowrap;

        .accounts-list-header__row {
            margin: 10px 20px;
            min-width: 160px;
            text-align: left;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}