.filter-by-section {
    padding: 20px;
    background-color: lightgray;
    margin: 20px;

    .filter-by-section__title {
        margin-bottom: 10px;
        margin-left: 5px;
        text-transform: capitalize;
        font-weight: bold;
    }
}